<form #signUpForm="ngForm">
  <input type="text" #userName="ngModel" [(ngModel)]="userService.selectedUser.userName" name="userName"
    placeholder="Username">
  <input type="text" #firstName="ngModel" [(ngModel)]="userService.selectedUser.firstName" name="firstName"
    placeholder="First Name">
  <input type="text" #lastName="ngModel" [(ngModel)]="userService.selectedUser.lastName" name="lastName"
    placeholder="Last Name">
  <input type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="Email">
  <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password"
    placeholder="Password">
  <input type="submit" value="Sign Up">
</form>